
@{
    Layout = null;
}
@section Title{
    项目看板
}
<style>
    img{
        width:600px;
        float:left;
    }
</style>
<div class="layui-inline">
    <img src="~/images/projecttab1.png"  />
    <img src="~/images/projecttab2.png"  />
    <img src="~/images/projecttab3.png"  />
    <img src="~/images/projecttab3.png"  />
</div>