
@{

}
@section Title{
    区域管理
}

<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        var token = window.localStorage.getItem('token');
        table.render({
            elem: '#test'
            , url: '/Admin/getArea?token=' + token
            , height: 500
            , toolbar: '#toolbarDemo'
            , cols: [[
                { field: 'ID', width: 80, title: 'ID' }
                , { field: 'NAME', width: 200, title: '区域名' }
                , { field: 'ABBREVIATION', width: 200, title: '简称' }
                , { width: 200, title: '操作', toolbar: '#barDemo' }
            ]], response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }, parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.rows.item //解析数据列表
                };
            }
        });
        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                    type: 2,
                    title: '新增',
                    content: '@Url.Action("addArea")?token=' + token,
                    area: ['400px', '300px'],
                        yes: function (index, layero) {
                            
                            var body =top.layer.getChildFrame('body', index);
                            var name = body.find('#areaname').val()
                            var abb = body.find("#areaabb").val();
                            var parm = { name: name, abb: abb };
                            //loading层
                            var index1 = layer.load(1, {
                                shade: [0.1, '#fff'] //0.1透明度的白色背景
                            });
                            $.post("@Url.Action("addArea")?token=" + token, parm, function (res) {
                                var msg = JSON.stringify(res);
                                var jmsg = JSON.parse(msg);
                                layer.close(index1);
                                layer.msg(jmsg.message);
                                layer.close(index);
                                window.location.reload();
                            });
                            
                    },
                    resize: true,
                    btn: ['确定', '取消'],

                });
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            console.log(data)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '编辑',
                    content: '@Url.Action("editArea")?id=' + data.ID + '&token=' + token,
                    area: ['400px', '300px'],
                    yes: function () {
                        layer.msg('只想弱弱提示');
                    },
                    resize: true,
                    btn: ['确定', '取消'],

                });
            }
        });
    });
</script>